<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>egg-4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 39.00000,72.00000 }</string>	
								<string>{ 47.00000,64.00000 }</string>	
								<string>{ 54.00000,48.00000 }</string>	
								<string>{ 57.00000,30.00000 }</string>	
								<string>{ 56.00000,23.00000 }</string>	
								<string>{ 12.00000,66.00000 }</string>	
								<string>{ 21.00000,72.00000 }</string>	
								<string>{ 32.00000,75.00000 }</string>
							</array>
							<array>	
								<string>{ 34.00000,0.00000 }</string>	
								<string>{ 23.00000,0.00000 }</string>	
								<string>{ 2.00000,21.00000 }</string>	
								<string>{ 0.00000,37.00000 }</string>	
								<string>{ 5.00000,55.00000 }</string>	
								<string>{ 56.00000,23.00000 }</string>	
								<string>{ 51.00000,11.00000 }</string>	
								<string>{ 44.00000,4.00000 }</string>
							</array>
							<array>	
								<string>{ 2.00000,21.00000 }</string>	
								<string>{ 23.00000,0.00000 }</string>	
								<string>{ 14.00000,3.00000 }</string>	
								<string>{ 7.00000,9.00000 }</string>
							</array>
							<array>	
								<string>{ 12.00000,66.00000 }</string>	
								<string>{ 56.00000,23.00000 }</string>	
								<string>{ 5.00000,55.00000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

			<key>egg-3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 33.00000,75.00000 }</string>	
								<string>{ 39.00000,72.00000 }</string>	
								<string>{ 45.00000,66.00000 }</string>	
								<string>{ 0.00000,23.00000 }</string>	
								<string>{ 0.00000,42.00000 }</string>	
								<string>{ 4.00000,55.00000 }</string>	
								<string>{ 9.00000,64.00000 }</string>	
								<string>{ 17.00000,72.00000 }</string>
							</array>
							<array>	
								<string>{ 11.00000,5.00000 }</string>	
								<string>{ 52.00000,52.00000 }</string>	
								<string>{ 55.00000,41.00000 }</string>	
								<string>{ 56.00000,28.00000 }</string>	
								<string>{ 54.00000,19.00000 }</string>	
								<string>{ 50.00000,11.00000 }</string>	
								<string>{ 43.00000,4.00000 }</string>	
								<string>{ 24.00000,0.00000 }</string>
							</array>
							<array>	
								<string>{ 11.00000,5.00000 }</string>	
								<string>{ 5.00000,11.00000 }</string>	
								<string>{ 0.00000,23.00000 }</string>	
								<string>{ 45.00000,66.00000 }</string>	
								<string>{ 52.00000,52.00000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

			<key>egg-2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 38.00000,2.00000 }</string>	
								<string>{ 23.00000,0.00000 }</string>	
								<string>{ 13.00000,4.00000 }</string>	
								<string>{ 46.00000,65.00000 }</string>	
								<string>{ 57.00000,39.00000 }</string>	
								<string>{ 57.00000,28.00000 }</string>	
								<string>{ 53.00000,14.00000 }</string>	
								<string>{ 47.00000,6.00000 }</string>
							</array>
							<array>	
								<string>{ 34.00000,74.00000 }</string>	
								<string>{ 46.00000,65.00000 }</string>	
								<string>{ 8.00000,8.00000 }</string>	
								<string>{ 2.00000,22.00000 }</string>	
								<string>{ 0.00000,37.00000 }</string>	
								<string>{ 3.00000,50.00000 }</string>	
								<string>{ 10.00000,63.00000 }</string>	
								<string>{ 18.00000,71.00000 }</string>
							</array>
							<array>	
								<string>{ 46.00000,65.00000 }</string>	
								<string>{ 34.00000,74.00000 }</string>	
								<string>{ 40.00000,71.00000 }</string>
							</array>
							<array>	
								<string>{ 46.00000,65.00000 }</string>	
								<string>{ 13.00000,4.00000 }</string>	
								<string>{ 8.00000,8.00000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

			<key>egg-1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 46.00000,65.00000 }</string>	
								<string>{ 54.00000,47.00000 }</string>	
								<string>{ 7.00000,9.00000 }</string>	
								<string>{ 1.00000,27.00000 }</string>	
								<string>{ 1.00000,44.00000 }</string>	
								<string>{ 7.00000,59.00000 }</string>	
								<string>{ 24.00000,73.00000 }</string>	
								<string>{ 35.00000,74.00000 }</string>
							</array>
							<array>	
								<string>{ 24.00000,73.00000 }</string>	
								<string>{ 7.00000,59.00000 }</string>	
								<string>{ 15.00000,69.00000 }</string>
							</array>
							<array>	
								<string>{ 57.00000,30.00000 }</string>	
								<string>{ 55.00000,19.00000 }</string>	
								<string>{ 51.00000,11.00000 }</string>	
								<string>{ 22.00000,0.00000 }</string>	
								<string>{ 7.00000,9.00000 }</string>	
								<string>{ 54.00000,47.00000 }</string>
							</array>
							<array>	
								<string>{ 35.00000,0.00000 }</string>	
								<string>{ 22.00000,0.00000 }</string>	
								<string>{ 51.00000,11.00000 }</string>	
								<string>{ 44.00000,4.00000 }</string>
							</array>
							<array>	
								<string>{ 7.00000,9.00000 }</string>	
								<string>{ 22.00000,0.00000 }</string>	
								<string>{ 14.00000,3.00000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




